.moreSpace {margin-bottom: 5px;}
@media screen and (min-width: 1410px) {
    h1 {
        margin-left: 7vw;
        font-family: courier;
        text-align: center;
        margin-bottom: -15px;
    }
    h3 {
        margin-left: 7vw;
        font-family: courier;
        text-align: center;
    }
    .titleContent {
        align-content: center;
        background-color: Gainsboro;
    }
    .EntryBox {
        margin-left: 40vw;
        align-content: center;
        text-align: center;
        font-size: 25;
        font-style: bold;
        font-family: Courier;
        height: auto;
        width: 500px;
        background-color: grey;
    }
    .EntryBoxLaw {
        margin-left: 40vw;
        align-content: center;
        text-align: center;
        font-size: 25;
        font-style: bold;
        font-family: Courier;
        height: auto;
        width: 500px;
        background-color: #B80000;
    }
    .EntryContent {
        align-content: center;
        text-align: left;
        font-size: 16;
        font-family: Courier;
        font-style: normal;
        height: auto;
        margin: 5px;
        width: 490px;
        background-color: seashell;
    }
    .dropDownMods {
        align-content: center;
        margin-left: 40vw;
        width: 175px;
    }

    .dropDownMods_filter {
        align-content: center;
        margin-left: 55vw;
        width: 175px;
        bottom: 35px;
    }
    .dropDownMods_text {
        align-content: center;
        margin-left: 40vw;
    }
    .dropDownMods_text_filter {
        align-content: center;
        margin-left: 180px;
    }
}
@media screen and (max-width: 1410px) {
    h1 {
        margin-left: 7vw;
        margin-bottom: -15px;
        font-family: courier;
        text-align: center;
    }
    h3 {
        margin-left: 7vw;
        font-family: courier;
        text-align: center;
    }
    .titleContent {
        align-content: center;
        background-color: Gainsboro;
    }
    .EntryBox {
        margin-left: 30vw;
        align-content: center;
        text-align: center;
        font-size: 25;
        font-style: bold;
        font-family: Courier;
        height: auto;
        width: 500px;
        background-color: grey;
    }
    .EntryBoxLaw {
        margin-left: 30vw;
        align-content: center;
        text-align: center;
        font-size: 25;
        font-style: bold;
        font-family: Courier;
        height: auto;
        width: 500px;
        background-color: #B80000;
    }
    .EntryContent {
        align-content: center;
        text-align: left;
        font-size: 16;
        font-family: Courier;
        font-style: normal;
        height: auto;
        margin: 5px;
        width: 490px;
        background-color: seashell;
    }
    .dropDownMods {
        align-content: center;
        margin-left: 30vw;
        width: 175px;
    }
    .dropDownMods_filter {
        align-content: center;
        margin-left: 55vw;
        width: 175px;
        bottom: 35px;
    }
    .dropDownMods_text {
        align-content: center;
        margin-left: 30vw;
    }
    .dropDownMods_text_filter {
        align-content: center;
        margin-left: 180px;
    }
}